@keyframes swing {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(5deg);
  }

  70% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525965;
}

::-webkit-scrollbar-thumb:active {
  background: #525965;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*------text style---------------------*/

.text-gray {
  color: #848484;
}

.text-primary {
  color: #202020 !important;
}

.fw-bold {
  font-weight: bold;
}
//

/*Ovveride Navigator border and background:*/
.cytoscape-navigator {
  border: 2px solid #bebebe !important;
  background: white !important;
  height: 25vh !important;
  width: 22vw !important;
  margin-bottom: 24px;
  margin-right: 24px;
}

/*Add border to View container:*/
.cytoscape-navigator .cytoscape-navigatorView {
  position: absolute;
  z-index: 2;
  border: 2px solid #124191;
  background: transparent;
}

/*Ovveride overlay container when mouse is over Navigator*/
.cytoscape-navigator:hover .cytoscape-navigatorOverlay {
  border: 2px solid #124191;
  background: transparent;
}

/*Ovveride view's container when mouse is over view*/
.cytoscape-navigator.mouseover-view .cytoscape-navigatorView {
  background-color: rgba(18, 65, 145, 0.3);
}

/* icon */

.b-icon {
  cursor: pointer;
  &.openArch-icon {
    color: rgb(9, 121, 186);
  }
  &.repeat-icon {
    color: rgb(12, 165, 24);
  }
  &.delete-icon {
    color: rgb(239, 80, 80);
  }
}

.b-icon:hover {
  // background: rgb(233, 233, 233);
  // border-radius: 50%;
  animation: swing ease-in-out 0.5s 1 alternate;
}
